body {
    color: gray;
    background-color: antiquewhite
}

#logo img {
    width: 150px;
    border: 2px solid gray;
    border-radius: 15px
}
.secao{border: 2px solid orangered; border-radius: 20px; padding: 5px; margin: 2px}